# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = africa.settings

[scrapyd]
application = scrapy_heroku.app.application

[deploy]
url = http://africatest.herokuapp.com:80/
project = africa
username = testsjobs@yandex.ru
password = testsjobs1